In [3]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
df = pd.read_csv('colors.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   air_force_blue_raf    864 non-null    object
 1   Air Force Blue (Raf)  864 non-null    object
 2   #5d8aa8               864 non-null    object
 3   93                    864 non-null    int64
 4   138                   864 non-null    int64
 5   168                   864 non-null    int64
dtypes: int64(3), object(3)
memory usage: 40.6+ KB

In [10]:
df.describe()

               93         138         168
count  864.000000  864.000000  864.000000
mean   158.674769  124.667824  119.031250
std     85.358623   76.313053   78.371535
min      0.000000    0.000000    0.000000
25%    101.000000   64.000000   53.000000
50%    178.000000  123.000000  118.500000
75%    236.250000  190.000000  186.000000
max    255.000000  255.000000  255.000000

In [11]:
df.head()

     air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
0   air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
1  air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
2       alabama_crimson        Alabama Crimson  #a32638  163   38   56
3            alice_blue             Alice Blue  #f0f8ff  240  248  255
4      alizarin_crimson       Alizarin Crimson  #e32636  227   38   54